<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Execute function test" annotations="JDK" preserve-order="true">
        <classes>
            <class name="testRunner.ExecuteSanityTest"/>
        </classes>
    </test>
<!--    <test name="Execute Regression Test" annotations="JDK" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="testRunner.ExecuteRegressionTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Execute Sanity Test" annotations="JDK" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="testRunner.ExecuteSanityTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Execute Smoke Test" annotations="JDK" preserve-order="true">-->
<!--        <classes>-->
<!--            <class name="testRunner.ExecuteSmokeTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>